.promo{
	min-height: 650px;
 	padding:21px 0 93px 0;
	background:url("../img/main.jpg") center (center/cover) no-repeat;
	&__wrapper{
		color:$second-main-color;
		display: flex;
		flex-direction: column;
		align-items:flex-end;
		margin-top: 90px;
	}
	&__header {
		color:$second-main-color;
		font-size: 42px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 42px;
	}
	&__subheader {
		margin-top: 17px;
		color: $second-main-color;
		font-size:24px;
		font-weight: 500;
		line-height: 42px;
		text-transform: uppercase;
	}
	&__icons{
		margin-top: 65px;
		width: 425px;
		display:flex;
		justify-content:space-between;
	}
	&__icon{
		width:108px;
		text-align: center;
		color:$second-main-color;
		font-size:14px;
		font-weight: 500;
		img{
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	&__link{
		color:$second-main-color;
		font-size: 16px;
		font-weight: 500;
		margin-top: 18px;
		outline-style: none;
		a{
			text-decoration: underline;
			text-transform: uppercase;
			color:$second-main-color;
		}
	}
}